@media screen and (max-width: 1650px) {
	.swiper-pagination {
		display: none;
	}
}
@media screen and (max-width: 1300px) {
	body {
		font-size: 15px;
	}
}
@media screen and (max-width: 1200px) {
	body {
		font-size: 14px;
	}
}
@media screen and (max-width: 1000px) {
	body {
		font-size: 13px;
	}
}
@media screen and (max-width: 850px) {
	body {
		font-size: 12.5px;
	}
}
@media screen and (max-width: 767px) {
	body {
		font-size: 13px;
	}
}
@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
}
@media screen and (max-width: 375px) {
	body {
		font-size: 10px;
	}
}

/* 헤더 + 비주얼 반응형--------------------- */
@media screen and (max-width: 1300px) {
	.slide-text h2 {
		font-size: 4em;
	}
}
@media screen and (max-width: 1200px) {
	.mobile-burger {
		display: block;
	}
	header {}
	header .container {
		background-color: transparent;
		position: fixed;
		border-radius: 0;
		top: 0;
		height: 92px;
		margin: 0;
		max-width: 100%;
	}
	.header-menu nav {
		display: none;
	}
	.visual {
		height: 100vh;
	}
	.mySwiper {
		height: 100vh;
	}
	.swiper-slide {
		background: url(../images/mobile_slide1.png) no-repeat center;
    background-size: 40%;
    background-position: 90% 50%;
	}
	.slide-text {
		word-break: keep-all;
	}
	.slide-text h2 {
		font-size: 4em;
	}
	.slide-text p {
		font-size: 1.5em;
	}
	.mySwiper .swiper-pagination {
		display: none;
	}
	
}
@media screen and (max-width: 850px) {
	.slide-text h2 {
		font-size: 3.2em;
	}
}
/* 767px 비주얼 */
@media screen and (max-width: 767px) {
	.swiper-slide {
		background: url('../images/mobile_slide1.png') no-repeat center;
		background-size: 55%;
		background-position: 50% 25%;
	}
	.slide-text {
		justify-content: end;
		width: 100%;
	}
}
@media screen and (max-width: 375px) {
	.swiper-slide {
		padding: 5em 3em;
	}
}
.platform-scroll .scroll-box {	
	overflow: visible;
}
.platform-scroll .scroll-box:not(.shape) img {
	border-radius: 15px
}	

/* 대표작품 */
@media screen and (max-width: 850px) {
	.product h3 {
		font-size: 3.4em;
	}
	.product p {
		font-size: 1.4em;
	}
	.product-wrap .slide-box img {
		width: 20.13em;
		height: 29.88em;
	}
}
@media screen and (max-width: 767px) {
	.product h3, .product p  {
		padding: 0 1.5em;
	}
	.product .product-wrap {
	}
	.product-wrap .slide-box .slide-hover span {
		width: 5em;
		line-height: 3.5em;
	}
}

/* 플랫폼 */
@media screen and (max-width: 1000px) {
	.platform-about .plat-logo a img {
		width: 23em;
	}
	.bomtoon .platform-about {
		padding-left: 2em;
	}
	.delitoon .platform-about {
		padding-right: 2em;
	}
}
@media screen and (max-width: 850px) {
	.platform-about p {
		font-size: 1.4em;
	}
	.platform-about .plat-logo a img {
		width: 100%;
	}
	.delitoon .platform-about .plat-logo a img {
		padding-left: 0.83em;
	}
	.delitoon .platform-about p {
		padding: 0;
	}
}
@media screen and (max-width: 767px) {
	.platform {
		flex-direction: column;
		height: 1000px;
		gap: 1em;
	}
	.platform-scroll {
		overflow: hidden;
		flex: 0 0 65%;
	}
	.platform-about {
		flex: 0 0 35%;
		text-align: center;
	}
	.platform-about .plat-logo {
		margin-bottom: 1.2em;
	}
	.platform-about .plat-logo a {
		display: inline-block;
	}
	.bomtoon .platform-about {
		order: 2;
		padding: 0;
	}
	.bomtoon .platform-about .plat-logo a img {
		width: 25em;
		margin: 0 auto;
	}
	.delitoon .platform-about {
		order: 1;
		padding: 0;
	}
	.delitoon .platform-about .plat-logo {
		margin-left: 0;
	}
	.delitoon .platform-about .plat-logo a img {
		padding: 0;
		height: 7em;
		margin: 0 auto; 
	}
	.delitoon .platform-about {
	}
}
@media screen and (max-width: 600px) {
	.platform {
		height: 700px;
	}
}
@media screen and (max-width: 375px) {
	.platform {
		gap: 0;
	}
}


/* 자회사 */
@media screen and (max-width: 1200px) {
	.group-item {
		padding: 0 2em;
	}
}
@media screen and (max-width: 850px) {
	.group-about h3 {
		font-size: 3.4em;
	}
	.group-about p {
		font-size: 1.4em;
	}
}
@media screen and (max-width: 767px) {
	.group-about {
		padding: 0 1em;
	}
	.group-item {
		/* padding: 0; */
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(4,1fr);
	}
	.group-item a {
		grid-column: 1/3;
		grid-row: 4/5;
	}
	.group-box {
		padding: 1%;
	}
}
@media screen and (max-width: 375px) {
	.group-item a {
		align-self: flex-end;
	}
}


/* 채용 */
@media screen and (max-width: 1200px) {
	.recruit .circle{
		width: 100px;
		height: 100px;
	} 
	.recruit .circle.purple {
		bottom: -10%; right: 20%;
	}
	.recruit .rectangle.line2 {
		width: 120px;
		height: 50px;
	}
	.recruit .rectangle.orange, .recruit .rectangle.line {
		width: 100px;
		height: 48px;
	}
	.recruit .cross.sky {
		width: 33px;
		height: 33px;
	}
	.recruit .triangle {
		right: 26%;
	}
}
@media screen and (max-width: 1000px) {
	.recruit {
		height: 40vh;
		padding: 15vw;
	}
	.recruit .move-link {
		width: 150px;
	}
	.recruit .move-link a {
		line-height: 2.7em;
	}
}
@media screen and (max-width: 850px) {
	.recruit {
		height: 35vh;
	}
}
@media screen and (max-width: 767px) {
	.recruit {
		display: none;
	}
}

/* 푸터 */
@media screen and (max-width: 767px) {
	.footer-bottom {
		flex-direction: column;
	}
	.footer-bottom .f-logo {
		margin-bottom: 5%;
	}
}
@media screen and (max-width: 600px) {
	footer {
		padding: 0 2em 5em;
	}
}